#map {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #e6ecf0;
}

#btn-rota-de-fuga {
    min-height: 100px;
    min-width: 100px;
    font-size: 60px;
    border-radius: 60px;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
}

#myModal {
    margin: 50px auto;
    width: 300px;
}

#msg-space {
    position: fixed;
    right: 5px;
}

#myModal div.modal-content {
    width: 300px;
}

/*
    onde fui roubado.
*/

.min-font-size {
    font-size: 11px;
}

.min-space-top {
    margin: 50px auto;
}

#fui-roubado div.modal-conten {
    width: 50%;
}

#div-fui-roubado {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, .1);
}

/*
    Time Line
*/

.menu-search {
    background-color: white;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, .1);
    font-size: 12px;
}

#modal-menu-search{
    display: none;
}

#modal-menu-search div.modal-content{
    min-width: 300px;
    max-width: 350px;
    margin: 60px auto 0px;
}



#btn-modal-search {
    display: none;
    min-height: 70px;
    min-width: 70px;
    font-size: 40px;
    border-radius: 60px;
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
    background-color: 
}

#btn-pesquisar {
    padding: 5px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    width: 80%;
    background-color: #57ba27;
    border-radius: 5px;
    border: 1px solid #4fb51e;
}

.btn-pesquisar {
    padding: 5px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    background-color: #57ba27;
    border-radius: 5px;
    border: 1px solid #4fb51e;
}

input.custom-input,
textarea.custom-input {
    width: 100%;
    border: 1px solid #dce3e8;
    background-color: #f6f6f6;
    padding: 5px;
}

#list_posts {
    margin-top: 50px;
}

.post {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, .1);
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    padding: 0px;
    margin-top: 2px;
}

.empty-time-line {
    width: 100%;
    height: 100px;
    border: 10px solid white;
    color: #28324a;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 45%;
    margin: 2px auto 2px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, .1);
    padding: 20px;
}

.header-post {
    padding: 15px;
    border-bottom: 1px solid #e6ecf0;
    background-color: #f6f6f6;
}

.endereco-header-post {
    color: #28324a;
    font-weight: bold;
}

.data-header-post {
    color: #657786;
    font-size: 11px;
}

.body-post {
    height: 250px;
    background-color: white;
    color: #28324a;
    padding: 10px 30px 30px;
}

.photos-post {
    height: 100%;
    border: 1px solid #e6ecf0;
    padding: 0px;
}

.main-photo-post {
    height: 100%;
    display: inline-block;
    padding: 0px;
}

.img-post {
    height: 100%;
    width: 100%;
    display: block;
}

.img-post:hover {
    cursor: pointer;
    box-shadow: 1px 1px 7px 1px #28324a;
}

.img-full {
    height: 100%;
    width: 100%;
    display: block;
}

.aux-photo-post {
    height: 100%;
    display: inline-block;
    padding: 0px;
}

.photo-post {
    width: 100%;
    height: 50%;
    border: 1px solid #e6ecf0;
    padding: 0px;
}

.footer-post {
    background-color: white;
    padding: 20px;
    color: black;
}

.comentario-post {
    background-color: white;
    padding: 15px;
    border-top: 1px solid #e6ecf0;
}

/*slide icon*/

#slidecontainer {
    width: 100%;
    padding: 3px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #E42046;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #E42046;
    cursor: pointer;
}

/*
    Login
*/

#box-auth {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, .1);
    border: 1px solid #d6d6d6;
}

.container-auth {
    position: relative;
    top: 15%;
    margin: 0 auto;
    max-width: 350px;
}

.container-auth div {
    max-width: 350px;
}

.container-auth .container {
    padding: 0px;
}

.container-auth #container-logo {
    text-align: center;
    padding: 25px 0px;
}

.container-auth #container-logo span {
    font-size: 26px;
    color: #28324a;
    font-weight: bold;
}

#box-auth #options {
    font-size: 14px;
    margin-top: 5px;
    color: #28324a;
}

#box-auth #options a {
    color: #32d8c0;
    font-weight: bold;
    margin-left: 10px;
}

#box-auth #header {
    text-align: center;
    font-family: Montserrat, sans-serif;
}

#box-auth #header .titulo {
    font-size: 26px;
    color: #28324a;
}

#box-auth #header .subtitulo {
    font-size: 12px;
    color: #7a7a7a;
    position: relative;
    bottom: 10px;
}

#container-input {
    margin-top: 30px;
}

.alert-login {
    color: #E42046;
    font-size: 12px;
}

#container-input div {
    width: 100%;
}

.entrada-auth {
    width: 100%;
    height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 9px;
    border-radius: 0px;
    background: #f6f6f6;
}

#box-auth #footer {
    font-size: 16px;
    padding: 20px 0px;

}

.btn-auth {
    width: 100px;
    background: #32d8c0;
    float: right;
}

.social-media-icon {
    width: 44px;
    height: 44px;
    font-weight: bold;
    border-radius: 25px;
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 7px;
    cursor: pointer;
}

#facebook-icon {
    background: #0c59cf;
}

#google-icon {
    background: #ff3823;
    margin-left: 10px;
}

/*
    LAYOUT
*/

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

h2 {
    font-size: 30px;
    color: #28324a;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.jumbotron {
    background-color: #28324a;
    color: white;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}

.container-fluid {
    padding: 60px 50px;
    border: 1px solid #e6ecf0;
    border-radius: 15px;
    background-color: #f6f6f6;
}

.logo-small {
    color: #c73533;
    font-size: 50px;
}

.icon-menu-bar {
    font-size: 16px;
}

.logo {
    color: #c73533;
    font-size: 200px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.panel {
    border: 1px solid #f6f6f6;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #f6f6f6;
    background-color: #fff !important;
    color: #f6f6f6;
}

.panel-heading {
    color: #fff !important;
    background-color: #f6f6f6 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: white !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #f6f6f6;
    color: #fff;
}

.navbar {
    margin-bottom: 0;
    background-color: #fff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    box-shadow: 1px 1px 17px -1px hsla(0, 0%, 63%, .69);
}

#logo {
    background: #fff;
    font-weight: bold;
}

.navbar li a,
.navbar .navbar-brand {
    background: white;
    color: #2B364B !important;
    font-weight: bold;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #30D9CC !important;
    background-color: #f3f3f3 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #c73533 !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #c73533;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}


@media screen and (max-width: 768px) {
    .menu-search {
        display: none;
        transform: translateY(0%);
    }
    #modal-menu-search {
        display: none;
        transform: translateY(0%);
    }

    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
    #btn-modal-search{
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}
